
.sideNavContainer {
    position : sticky; 
    top : 80px ;
    left : 0 ;
    flex : 1 ;
    height: calc(100vh - 80px);
    background-color: #eee8e8;
}



.sideNavMenuItem{
    display : flex ; 
    cursor : pointer ;
    justify-content: left;
    align-items:  center;
    border-radius: 10px;
    padding-left: 10px;
    color:#474545;
    padding : 7px 15px 7px 10px ; 
  }
  
  
.sideNavMenuItem:hover {
   
    background-color: #3f51b5;  
    color : rgb(250, 248, 248) 
  }
  


  .sideNavMenu{

    display : block ;
    padding-left: 10px;
    padding-right: 10px;
    
}


.sideNavMenuTitle{
    font-size: 13px;
    margin-left: 10px;
}